<section class="flex flex-col">
    <h1 class="text-4xl text-primary my-5">Générateur Simplifié de nombre aléatoires</h1>
    <div class="flex flex-wrap gap-5 my-5 ">
        <button class="btn btn-success">Démarrer</button>
        <button class="btn btn-warning">Pause</button>
        <button class="btn btn-error">Arrêter</button>
    </div>
    <div class="flex flex-col bg-base-100 shadow-xl p-10 rounded-xl">
        <h2 class="text-2xl text-secondary">Nombres générés</h2>

    </div>

</section>