<div class="p-6 mx-auto max-w-lg">
  <h1 class="text-3xl font-bold text-center text-primary mb-6">
    Générateur de Nombres Aléatoires
  </h1>

  <div class="card bg-base-100 shadow-xl p-6 mb-6">
    <div class="card-body p-0">
      <div class="flex justify-center space-x-4 mb-5">
        <button class="btn btn-success" (click)="start()">Démarrer</button>
        <button class="btn btn-warning" (click)="pauseResume()">
          {{ paused ? 'Reprendre' : 'Pause' }}
        </button>
        <button class="btn btn-error" (click)="stop()">Arrêter</button>
      </div>

      <div class="form-control flex justify-center mt-3">
        <label for="filterSwitch" class="label cursor-pointer justify-center space-x-3">
          <span class="label-text text-lg font-medium">Afficher uniquement les chiffres / nombres pairs</span>
          <input
            type="checkbox"
            class="toggle toggle-primary"
            id="filterSwitch"
            [(ngModel)]="filterEven"
          />
        </label>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <div class="card-body p-5">
      <h2 class="card-title text-secondary text-xl mb-3">Historique des Nombres</h2>

      <ul class="space-y-2">
        <li
          *ngFor="let number of numbers"
          class="p-3 rounded-lg flex justify-between items-center text-lg font-mono"

          [ngClass]="{
            'bg-primary text-secondary-content shadow-md': number.value % 2 === 0,
            'bg-error text-error-focus opacity-80': number.value % 2 !== 0
          }"
        >
          <strong class="text-xl">{{ number.value }}</strong>
          <span class="badge badge-lg bg-base-100">{{ number.label }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
