<section class="flex flex-col items-center justify-center bg-base-300 px-5 py-10 rounded-2xl">
  <div class="container mx-auto p-4 justify-center flex flex-col">
    <h1 class="text-3xl text-primary font-bold my-5">TP Component Communication</h1>
    <div class="flex flex-wrap bg-accent rounded-2xl p-5 my-10 mx-auto">
      <app-active-user-component [name]="utilisateur.name" [age]="utilisateur.age"></app-active-user-component>
    </div>
    <div class="flex flex-wrap bg-base-100 rounded-2xl p-5 my-10 mx-auto">
      <app-user-data-component (submit)="updateUser(utilisateur.age, utilisateur.name)"></app-user-data-component>
    </div>
  </div>
</section>
