<section id="home" class="flex flex-col gap-10 items-center">
<div class="card w-96 bg-base-100 card-lg shadow-sm">
  <div class="card-body">
    <h2 class="card-title">Leçons</h2>
    <div class="justify-end card-actions">
      <a routerLink="lessons" class="btn btn-accent">Voir les leçons</a>
    </div>
  </div>
</div>
<div class="card w-96 bg-base-100 card-lg shadow-sm">
  <div class="card-body">
    <h2 class="card-title">Exercices</h2>
    <div class="justify-end card-actions">
      <a routerLink="exercices" class="btn btn-primary">Voir les exercices</a>
    </div>
  </div>
</div>
</section>
