<section id="exercices">
    <h1 class="text-3xl font-bold my-5">{{title}}</h1>
    <ul class="flex gap-5 flex-wrap">
        <li class="btn btn-primary"><a routerLink="property-bindings">Property binding</a></li>
        <li class="btn btn-primary"><a routerLink="event-bindings">Event bindings</a></li>
        <li class="btn btn-primary"><a routerLink="tp-giga-bind">TP giga bind</a></li>
        <li class="btn btn-primary"><a routerLink="meteo">Meteo</a></li>
        <li class="btn btn-primary"><a routerLink="communication">Communication</a></li>
        <li class="btn btn-primary"><a routerLink="activeUser">ActiveUser</a></li>
        <li class="btn btn-primary"><a routerLink="userData">UserData</a></li>
        <li class="btn btn-primary"><a routerLink="observable-g">Observable simple</a></li>
        <li class="btn btn-primary"><a routerLink="task-signal">Tâches Signals</a></li>
    </ul>
</section>