<section id="lessons">
    <h1 class="text-3xl font-bold my-5">{{title}}</h1>
    <ul class="flex gap-5">
        <li class="btn btn-accent"><a routerLink="text-interpolation">Text interpolation</a></li>
        <li class="btn btn-accent"><a routerLink="property-bindings">Property binding</a></li>
        <li class="btn btn-accent"><a routerLink="event-binding">Event binding</a></li>
        <li class="btn btn-accent"><a routerLink="child">Child</a></li>
        <li class="btn btn-accent"><a routerLink="parent">Parent</a></li>
        <li class="btn btn-accent"><a routerLink="observables">Observables</a></li>
        <li class="btn btn-accent"><a routerLink="signals">Signals</a></li>
    </ul>
</section>